/* style.css */
body {
    background-color: #f0f0f0;
}

.stButton > button {
    background-color: #007bff;
    color: white;
}

.stText h1 {
    color: #007bff;
}


.stImage, .stVideo {
    max-width: 800px;
    max-height: 600px;
    margin: auto;
}

.stButton {
    display: block;
    margin: 20px auto;
}
